body{

    margin: 0;
    overflow-x: hidden;
    background-color: rgb(252, 252, 252);
}
html{
    overflow-x: hidden;
}
header{
    
    z-index: 1000; /* Asigură că header-ul este deasupra altor elemente */
    position: fixed; /* Fixează header-ul */
    top: 0;
    left: 0;
    overflow: hidden;
    transition: top 0.3s ease; /* Tranziție lină pentru ascundere */
    background-color: #22283100;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
#fh{
    padding: 3vh;
    filter: drop-shadow(-4px 0px 11px #000000);
}
.logoTel{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(4vw);
   
      
}
.logoTel img{
    max-width: 35vw;
}
/* Stil pentru butonul hamburger */
/* Butonul hamburger cu două linii */
.menu-icon {
transform: translateX(18vw);
display: flex;
flex-direction: column;
justify-content: space-between;
width: 10vw;
height: 2vh;
cursor: pointer;
z-index: 1001;



}


.menu-icon div {
width: 100%;
height: 1px;
background-color: rgb(0, 0, 0);
border-radius: 2px;
transition: all 0.4s ease-in;

}

/* Animația pentru transformarea în "X" */
.menu-icon.open div:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open div:nth-child(2) {
transform: rotate(-45deg) translate(5px, -5px);
}

.side-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: #fdfdfd;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 0; /* Invizibil la început */
visibility: hidden; /* Ascuns complet */
transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* Tranziția de opacitate */
z-index: 1000;
}

.side-menu.open {
opacity: 1; /* Devine vizibil */
visibility: visible; /* Vizibil */
transition: opacity 0.5s ease, visibility 0s linear 0s; /* Asigură sincronizarea */
}

.side-menu ul {
list-style: none;
padding: 0;
margin: 0;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.side-menu ul li {
margin: 15px 0;
opacity: 0; /* Text invizibil la început */
transform: translateY(20px); /* Porneste mai jos */
transition: opacity 0.5s ease, transform 0.5s ease; /* Tranziție fluidă */

}

.side-menu ul li a {
color: rgb(0, 0, 0);
text-decoration: none;
font-size: 18px;
transition: color 0.3s ease;
}

.side-menu ul li a:hover {
color: #f4a261;
}
.side-menu.open ul li {
opacity: 1; /* Devine vizibil */
transform: translateY(0); /* Revine la poziția inițială */
}
/* Adăugare întârziere pentru fiecare element */
.side-menu ul li:nth-child(1) {
transition-delay: 0.1s;
}

.side-menu ul li:nth-child(2) {
transition-delay: 0.2s;
}

.side-menu ul li:nth-child(3) {
transition-delay: 0.3s;
}

.side-menu ul li:nth-child(4) {
transition-delay: 0.4s;
}

.side-menu ul li:nth-child(5) {
transition-delay: 0.5s;
}
.menu-close {
font-size: 24px;
color: rgb(0, 0, 0);
cursor: pointer;
text-align: right;
}

.eu1{
   
    width: 100%;
    height: 70vh;
    background-image: url(desprem1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.eu1 h1{
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size:1.7rem;
    text-align: center;
     letter-spacing: 1px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.cosminmobile{
    margin-top: 10vh;

    width: 100%;
    height: auto;
    position: relative; /* Poziționare necesară */
    overflow: hidden;
}
.cosminmobile img{
    max-width: 120vw;
}

.cosminmobile p{
    font-family: 'Cinzel Decorative', serif;
    color: rgb(0, 0, 0);
    font-size:1rem;
    font-weight: 100;
    text-align: center;
        letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#cos1 {
    
    width: 100%;
    height: 40vh;
    padding-top: 5vh;
    position: absolute; /* Poziționare necesară pentru z-index */
    z-index: 1; /* Elementul mai jos pe axa Z */
    
}

#cos2 {
    margin-bottom: 3vh;
    width: 100%;
    height: 40vh;
    padding-top: 5vh;
    position: relative; /* Poziționare necesară pentru z-index */
    z-index: 100000; /* Elementul mai sus pe axa Z */
    transform-origin: top;
    transform: scaleY(1);
    transition: none; /* Fără animație inițial */
   
}
#scrise{
    filter: drop-shadow(14px 13px 11px #000000);
   width: 100%;
   padding-bottom: 7vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    
}
#scris1{
   
    background-color: #222831;
    width: 90%;
    opacity: 0; /* Ascuns inițial */
   
}
#scris1 p{
    color: white;
}
#scris2{
    
    opacity: 0; /* Ascuns inițial */
    background-color: #f5db76;
    width: 90%;
    position: relative;
    margin-left: 10%;
}
#scris2 p{
    color: #222831;
}
#scris3{
    position: relative;
    opacity: 0; /* Ascuns inițial */
    width: 90%;
    text-align: center;
    background-color: #222831;
}
#scris3 p{
    padding: 2vw;
    color: white;
}
#scris1.animate{
    animation: slide-in-left 1.5s ease-out forwards; /* Activează animația */
    opacity: 1; /* Ascuns inițial */
    position: relative;
}
#scris2.animate{
    animation: slide-in-right 1.5s ease-out forwards; /* Activează animația */
    opacity: 1; /* Ascuns inițial */
    position: relative;
  }

#scris3.animate{
   
    animation:  slide-in-left 1.5s ease-out forwards; /* Activează animația */
    opacity: 1; /* Ascuns inițial */
    position: relative;
}

.eu2{
    filter: drop-shadow(19px -20px 10px #000000);
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    background-image: url(desprem3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eu2 h1{
    color: red;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size:1.7rem;
    text-align: center;
     letter-spacing: 1px;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.eu3{
    width: 100%;
    height: auto;
    background-color: #222222;
    display: flex;
    gap: 5vh;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ochi{
    display: flex;
  
    justify-content: center;
    align-items: center;
   
}
.ochi p{
    color: white;
}
.ochi strong{
    color: red;
}
.ochi img{
max-width: 27vw;
}
.pro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro p{
    color: white;
}
.pro strong{
    color: rgb(255, 255, 255);
}
.pro img{
    max-width: 25vw;
    }

    .original{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .original p{
        color: white;
    }
    .original strong{
        color: #f5d734;
    }
    .original img{
        max-width: 27vw;
        }






        /* Footer */
 .footer {
    height: auto;
    background-image: url(Fotter.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    padding: 20px 10px;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    filter: drop-shadow(10px -4px 16px #000000);
}

.footer-content {
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    filter: drop-shadow(1px -1px 8px #000000);
}
#insta img{
    max-width: 22vw;
    
}
#logofot{
    transform: translateY(5vh);
    position: relative;
    max-width: 30vw;
}
.footer-logo img {
    max-width: 20vw;
   
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f5db76; /* Accent color */
}
#acasa{
 
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-social a img {
   max-width: 20vw;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s;
}

.footer-social a:hover img {
    transform: scale(1.2);
}

.footer-bottom {
    color: black;
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.8;
}















@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @media (min-width:750px){

    .eu1{
        height: 100vh;
       background-position: center top -17vh;
    }
    .logoTel img{
        max-width: 15vw;
    }
    .menu-icon div {
        width: 50%;
    }
    header{
      
        height: auto;
    }
    .footer-social img{
        max-width: 5vw !important;
    }
    .footer-logo img {
        max-width: 10vw;
       
    }
    #logofot{
        transform: translateY(5vw);
        max-width: 20vw;
    }
    .footer{
        background-position: center top -5vw; /* Mută fundalul mai jos cu 20px */
    }
    .eu2{
        height: 130vh;
        background-image: url(desprem5.png);
    }
    .eu2 h1{
        font-size: 5rem;
    }
    .eu3 p{
        font-size: 2rem;
    }
    .footer-content{
        width: 100vw;
       
    }
    .footer{
        
        width: 100vw;
    }
    .footer-bottom{
        font-size: 1rem;
    }
    }